@model Alumno
@{
    ViewData["Title"] = "Crear un alumno"; 
}

<div class="">
    <h1 class="display-4">Crear un alumno</h1>

@using (@Html.BeginForm())
{
    <div class="form-group">
        @Html.LabelFor(m=> m.Legajo)
        @Html.TextBoxFor(m=> m.Legajo,
        new {@class="form-control"}) 
    </div>
    <div class="form-group">
        @Html.LabelFor(m=> m.Nombre)
        @Html.TextBoxFor(m=> m.Nombre,
        new {@class="form-control", @type="password"})
    </div>
    <div class="form-group">
        @Html.LabelFor(m=> m.Apellido)
        @Html.TextBoxFor(m=> m.Apellido,
        new {@class="form-control"})
    </div>
    <div class="form-group">
        @Html.LabelFor(m=> m.Dni)
        @Html.TextBoxFor(m=> m.Dni,
        new {@class="form-control", id="tb_DNI" })
    </div>

    <input type="submit" value="Crear Alumno" />
    
}
 

</div>
