@model AlumnoVM
@{
    ViewData["Title"] = "Crear un alumno"; 
}

<div class="">
    <h1 class="display-4">Crear un alumno</h1>

@using (@Html.BeginForm(null,null,FormMethod.Post,new {enctype="multipart/form-data"}))
{
    <div class="form-group">
        @Html.LabelFor(m=> m.Alumno.Legajo)
        @Html.TextBoxFor(m=> m.Alumno.Legajo,
        new {@class="form-control"}) 
    </div>
    <div class="form-group">
        @Html.LabelFor(m=> m.Alumno.Nombre)
        @Html.TextBoxFor(m=> m.Alumno.Nombre,
        new {@class="form-control", @type="password"})
    </div>
    <div class="form-group">
        @Html.LabelFor(m=> m.Alumno.Apellido)
        @Html.TextBoxFor(m=> m.Alumno.Apellido,
        new {@class="form-control"})
    </div>
    <div class="form-group">
        @Html.LabelFor(m=> m.Alumno.Dni)
        @Html.TextBoxFor(m=> m.Alumno.Dni,
        new {@class="form-control", id="tb_DNI" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m=>m.Alumno.PaisNombre)
        @Html.DropDownListFor(m=>m.Alumno.PaisNombre,
        new SelectList(Model.Paises,"Nombre","Nombre" ),  "-Seleccionar-",
        new {@class="form-control"} )
    </div>
    <div class="form-group form-check">
        Sexo: 
       Femenino: @Html.RadioButtonFor(m => m.Alumno.Sexo,"Femenino")
       Masculino: @Html.RadioButtonFor(m => m.Alumno.Sexo,"Masculino")
    </div>
    <div class="form-group">
        @Html.LabelFor(m=> m.Alumno.Edad)
        @Html.TextBoxFor(m=> m.Alumno.Edad, new {@class="form-control"} )
    </div>
    <div class="form-group">
    @Html.LabelFor(p=>p.Alumno.Foto)
    <div class="custom-file">
        @Html.TextBoxFor(p=>p.Alumno.Foto, new {type="file",@class="form-control custom-file-input"})
        @Html.LabelFor(p=>p.Alumno.Foto,"Seleccionar Foto",new { @class="custom-file-label"})
    </div>
    </div>
    <input type="submit" value="Crear Alumno" />
    
}
 

</div>
