@model Alumno
@{
    ViewData["Title"] = "Home Page"; 
}

<div class="">
    <h1 class="display-4">Edicion de alumno</h1>
    @await Html.PartialAsync("_PruebaParcial",Model)
@using (@Html.BeginForm())
{
    <div class="form-group">
        @Html.LabelFor(m=> m.Legajo)
        @Html.TextBoxFor(m=> m.Legajo, new {@class="form-control",@readonly = "readonly"} )
    </div>
    <div class="form-group">
        @Html.LabelFor(m=> m.Nombre)
        @Html.TextBoxFor(m=> m.Nombre, new {@class="form-control"} )
    </div>
    <div class="form-group"> 
        @Html.LabelFor(m=> m.Apellido)
        @Html.TextBoxFor(m=> m.Apellido, new {@class="form-control"} )
    </div>
    <div class="form-group">
        @Html.LabelFor(m=> m.Dni)
        @Html.TextBoxFor(m=> m.Dni, new {@class="form-control"} )
    </div>
    <!--
    <div class="form-group" >
        @Html.Label("Paises:")
        @Html.DropDownList("comboPais",
        new SelectList(ViewBag.Paises,"Id","Nombre" ),  "-Seleccionar-",
        new {@class="form-control"} )
    </div>
    -->

    <div class="form-group">
        @Html.LabelFor(m=>m.PaisNombre)
        @Html.DropDownListFor(m=>m.PaisNombre,
        new SelectList(ViewBag.Paises,"Nombre","Nombre" ),  "-Seleccionar-",
        new {@class="form-control"} )
    </div>
    <div class="form-group form-check">
        Sexo:
        @*
        @Html.RadioButton("genero","Femenino") femenino
        @Html.RadioButton("genero","Masculino") masculino
        *@
       Femenino: @Html.RadioButtonFor(m => m.Sexo,"Femenino")
       Masculino: @Html.RadioButtonFor(m => m.Sexo,"Masculino")
    </div>

    <input type="submit" class="btn btn-primary" value="Guardar Alumno" />
    
}
 

</div>
