@*
@model List<Alumno>
*@
@model X.PagedList.PagedList<Alumno>

@using X.PagedList.Mvc;
@using X.PagedList.Mvc.Core;
@{
    ViewData["Title"] = "Muestra de tarjetas";
    var @mensaje= ViewBag.MensajeBienvenida;
}
@functions{
string MostrarBanderaPais(string pais)
{
    <img src='@Url.Content("~/imagenes/"+ @pais.ToLower() + "-bandera-200px.jpg")' class="rounded-circle"  style="width: 40px; height: 40px;" /> 
    return string.Empty;
}
} 

<div class="text-center">
    <h1 class="display-4">Lista de alumnos</h1>
    <h3>@mensaje   </h3>
    @using (Html.BeginForm())
    {
        <p>
            Buscar por nombre o apellido: @Html.TextBox("campobusqueda")  
            <input type="submit" value="Buscar" class="btn btn-primary" />
        </p>
    }

    @Html.ActionLink("Crear alumno","Crear")  |   
    @Html.ActionLink("Order : Asc - Desc","Order")
    
<div class="row">

     @foreach (var alumno in Model)
     {
         <div class="col">
         <div class="card" style="width: 18rem;">
  <img class="card-img-top" src='@Url.Content("~/imagenes/"+ @alumno.Legajo + ".jpg")' alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title"></h5>
    <h5 class="card-title">@alumno.Nombre @alumno.Apellido</h5>
    <h6 class="card-subtitle mb-2 text-muted">@alumno.Legajo</h6>
    <p class="card-text">
             @alumno.Dni
             @MostrarBanderaPais(@alumno.PaisNombre)
             @alumno.Sexo
    </p>
     @Html.ActionLink("Ver","Detalle",new {leg=alumno.Legajo},new { @class = "btn btn-primary btn-large",data_toggle="modal", data_target="#pantallaModal" })  |
    @Html.ActionLink("Editar alumno","Editar",new {leg=alumno.Legajo})
  </div>
  </div>
</div>

        

     }
</div>
 
Página @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) de @Model.PageCount

@Html.PagedListPager(Model, pagina => Url.Action("Muestra",
    new { pagina, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }),
    new X.PagedList.Mvc.Core.Common.PagedListRenderOptions {
        
        ContainerDivClasses=new [] {"navigation"},
        PageClasses=new[] {"page-link"},
        LiElementClasses = Enumerable.Empty<string>(),
       
    })

</div>


<div class="modal fade" id="pantallaModal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>  
                @await Html.PartialAsync("_VistaParcial")
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary">Save changes</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
