@model Socios
@{
    ViewData["Title"] = "Home Page"; 
}

<div class="text-center">
    <h1 class="display-4">Nuevo Socio</h1>
    @Html.ActionLink("Volver","Index")

@using (@Html.BeginForm())
{
    <div class="form-group">
        @Html.LabelFor(m=> m.NroSocio)
        @Html.EditorFor(m=> m.NroSocio, new {@class="form-control"} )    
    </div>
    <div class="form-group">
        @Html.LabelFor(m=> m.Nombre)
        @Html.EditorFor(m=> m.Nombre, new {@class="form-control"} )
    </div>
    <div class="form-group">
        @Html.LabelFor(m=> m.Apellido)
        @Html.EditorFor(m=> m.Apellido, new {@class="form-control"} )
    </div>
    <div class="form-group">
        @Html.LabelFor(m=>m.fecha_nac);
        @Html.EditorFor(m=>m.fecha_nac, new {@class="form-control"})
    </div>

    <input type="submit" value="Crear" />
    
}
 

</div>
